<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static',path='styles/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',path='styles/2-2.login-success.css') }}" />
    <title>로그인 성공</title>

  </head>
  <body>
    <img src="{{ url_for('static',path='images/2-2.screen_login-success.jpg') }}" alt="전체 화면" />

    <div class="element">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <img class="ellipse" src="{{ url_for('static',path='img/ellipse-2.svg') }}" />
          <img class="img" src="{{url_for('static',path='img/ellipse-3.svg') }}" />
          <div class="text-wrapper">환영합니다.</div>
          <img class="group" src="{{url_for('static',path='img/group-12.png') }}" />
          <div class="frame">
            <p class="div">Google 캘린더와 날씨 정보를 불러오는 중입니다.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- 불러온 후 페이지 이동 -->
    <script>
      setTimeout(function () {
        // 불러오기 완료 후 다음 페이지로 이동
        window.location.href = "/profile";
      }, 3000); // 3초 후 이동 (필요시 조정 가능)
    </script>
  </body>
</html>
